.createRoomContainer {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh auto;
}

.creatRoomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labelCreateRoom {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: x-large;
}

.createRoomInput {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.yourChoice {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-bottom: -1em;
  margin-top: 1em;
}

.choices {
  display: flex;
  flex-direction: raw;
}

.rock,
.paper,
.scissors {
  width: 12em;
  height: 12em;
  margin: 5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 1em;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.buttonCreateRoom {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
