.logo-tulisan {
  display: flex;
  align-items: center;
}

.tulisanRPS {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  cursor: pointer;
  padding: 0.5em;
  color: white;
  width: 3.7em;
  height: 3.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tulisanRPS:hover {
  transform: scale(1.2);
}

.kotakHome {
  width: 3.7em;
  height: 3.7em;
  border-radius: 20%;
  background-color: rgba(209, 238, 46, 0.74);
  margin-left: 1em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.kotakHome:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.lingkaranHome {
  width: 3.4em;
  height: 3.4em;
  border-radius: 50%;
  background-color: rgba(245, 240, 224, 0.986);
  position: absolute;
  border: 3px solid rgb(20, 237, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modelisiScissors,
.modelisiQuest,
.modelisiPaper,
.modelisiRock {
  width: 1.1em;
  height: 1.1em;
  position: absolute;
}

.modelisiScissors {
  margin-left: -1.7em;
}

.modelisiQuest {
  margin-bottom: 1.7em;
}

.modelisiPaper {
  width: 1em;
  height: 1em;
  margin-left: 1.9em;
}

.modelisiRock {
  margin-top: 1.7em;
}
