* {
  margin: 0;
  box-sizing: border-box;
}

.pageRegistration {
  background-color: rgb(214, 166, 44);
  height: 100vh auto;
  width: 100%;
}

.registration-midle-container {
  display: flex;
  justify-content: center;
}

.coverRegistration {
  background-color: darkgoldenrod;
  width: 30em;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0 0.2em 1.5em rgb(100, 156, 156);
  margin-top: 2em;
  margin-bottom: 2em;
}

.coverRegistration:hover {
  box-shadow: 0 0.1em 3em rgb(11, 245, 245);
}

.registrationLogo {
  height: 5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subTitleRegistration {
  margin-bottom: .5em;
  text-align: center;
  font-size: smaller;
  color: aliceblue;
  font-style: italic;
}

.buttonRegistration {
  margin-top: 3em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

.textBelow-registration-link {
  font-weight: bold;
}

.errorInput {
  margin-top: -1.5em;
  color: rgb(132, 7, 7);
  font-weight: 500;
  font-size: small;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.errorInputRegistration {
  margin-top: 0.5em;
  display: flex;
  color: rgb(132, 7, 7);
  font-weight: 500;
  text-align: center;
  font-size: small;
  text-shadow: 0 0.1em 0.1em rgb(67, 17, 17);
}
