.player1Vsplayer2-content-match {
  display: flex;
  justify-content: space-evenly;
}

.player1Vsplayer2-content-middle {
  display: flex;
  font-size: xx-large;
  transform: rotate(330deg);
  margin-left: -10em;
  margin-right: -10em;
  padding: 1em;
  width: 5em;
  height: 3.5em;
  justify-content: center;
  border: rgb(133, 86, 4) solid;
  margin-top: 5em;
}

.player1Vsplayer2-rock-left,
.player1Vsplayer2-rock-right,
.player1Vsplayer2-paper-left,
.player1Vsplayer2-paper-right,
.player1Vsplayer2-scissors-left,
.player1Vsplayer2-scissors-right {
  width: 9em;
  height: 9em;
  margin: 1em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 1em;
}

