.containerRoomList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.singleRoomList {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  background-color: azure;
  width: 15em;
  padding: 1em;
  cursor: pointer;
  border-radius: 0.5em;
}

.singleRoomList:hover {
  transform: scale(1.1);
}

.list-roomName {
  font-weight: 800;
}
