.playerVsComContainer {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh auto;
}

.player1Vsplayer2-content-matchVsCom {
  display: flex;
  justify-content: space-evenly;
}

.player1Vsplayer2-content-middleVsCom {
  display: flex;
  font-size: xx-large;
  transform: rotate(330deg);
  margin-left: -10em;
  margin-right: -10em;
  padding: 1em;
  width: 5em;
  height: 3.5em;
  justify-content: center;
  border: rgb(133, 86, 4) solid;
  margin-top: 5em;
  align-items: center;
  text-align: center;
}

.player1Vsplayer2-rock-leftVsCom:hover,
.player1Vsplayer2-paper-leftVsCom:hover,
.player1Vsplayer2-scissors-leftVsCom:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.player1Vsplayer2-rock-leftVsCom,
.player1Vsplayer2-rock-rightVsCom,
.player1Vsplayer2-paper-leftVsCom,
.player1Vsplayer2-paper-rightVsCom,
.player1Vsplayer2-scissors-leftVsCom,
.player1Vsplayer2-scissors-rightVsCom {
  width: 7.5em;
  height: 7.5em;
  margin: 0.75em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 1em;
}

.player1Vsplayer2-rock-rightVsCom,
.player1Vsplayer2-paper-rightVsCom,
.player1Vsplayer2-scissors-rightVsCom {
  cursor: auto;
}

.vsComBottomText {
  display: flex;
  justify-content: center;
}

.vsComBottomTextResult,
.vsComBottomTextReady {
  font-family: cursive;
  font-weight: 750;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.vsComBottomTextResult {
  font-family: cursive;
  font-weight: 750;
  text-align: center;
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: hsl(120, 73%, 75%, 0.5);
}

.vsComRefresh {
  display: flex;
  justify-content: center;
  margin-top: -3em;
}

.vsComTombolRefresh {
  width: 4em;
  height: 4em;
  border-radius: 3em;
  padding: .5em;
}

.vsComTombolRefresh:hover {
  background-color: rgb(11, 245, 245);
  transform: scale(1.05);
}