* {
  margin: 0;
  box-sizing: border-box;
}

.pageLogin {
  background-color: rgb(214, 166, 44);
  height: 100vh auto;
  width: 100%;
}

.login-midle-container {
  display: flex;
  justify-content: center;
}

.coverLogin {
  background-color: darkgoldenrod;
  width: 30em;
  height: 35em;
  border-radius: 1em;
  box-shadow: 0 0.2em 1.5em rgb(100, 156, 156);
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.coverLogin:hover {
  box-shadow: 0 0.1em 3em rgb(11, 245, 245);
}

.loginLogo {
  height: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subTitleLogin {
  margin-bottom: 1em;
  text-align: center;
  font-size: smaller;
  color: aliceblue;
  font-style: italic;
}

.errorInputLogin {
  margin-top: 0.5em;
  display: flex;
  color: rgb(132, 7, 7);
  font-weight: 500;
  text-align: center;
  font-size: small;
  text-shadow: 0 0.1em 0.1em rgb(67, 17, 17);
}

.textBelow-login-link {
  font-weight: bold;
}

.buttonLogin {
  margin-top: 3em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.textBelow-login {
  text-align: center;
  margin-bottom: 1em;
}

/* ---------------------------------------------------------- */
.password-input-wrapper {
  position: relative;
}

.password-toggle-button {
  position: absolute;
  right: 65px; /* Adjust the right positioning as needed */
  top: 50%; /* Center the button vertically */
  transform: translateY(-50%); /* Center the button vertically */
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px; /* Adjust the font size as needed */
  color: #a31717; /* Adjust the color as needed */
}

.eye-open {
  background-image: url("../../Elements/images/eye-open.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
}

.eye-close {
  background-image: url("../../Elements/images/eye-close.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
}

input[type="password"] {
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Other modern browsers */
}
