* {
  margin: 0;
  box-sizing: border-box;
}

.pageUpdateBio {
  background-color: rgb(214, 166, 44);
  height: 100vh auto;
  width: 100%;
}

.updateBio-midle-container {
  display: flex;
  justify-content: center;
}

.coverUpdateBio {
  background-color: darkgoldenrod;
  width: 30em;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0 0.2em 1.5em rgb(100, 156, 156);
  margin-top: 3em;
  margin-bottom: 2em;
}

.coverUpdateBio:hover {
  box-shadow: 0 0.1em 3em rgb(11, 245, 245);
}

.updateBioLogo {
  height: 5em;
  margin-top: 2em;
  margin-bottom: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subTitleUpdateBio {
  margin-bottom: 3em;
  text-align: center;
  color: aliceblue;
  font-style: italic;
  font-size: smaller;
}

.buttonUpdateBio {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

.errorInputUpdateBio {
  margin-top: 0.5em;
  display: flex;
  color: rgb(132, 7, 7);
  font-weight: 500;
  text-align: center;
  font-size: small;
}
