.availableRoom-Container {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh auto;
}

.availableRoom-name {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.availableRoom-name-box {
  border: rgb(255, 252, 248) solid;
  border-radius: 10em;
  width: 12.5em;
  font-size: xx-large;
  text-align: center;
  padding: 0.25em;
}

.player1Vsplayer2-content-matchAvailable {
  display: flex;
  justify-content: space-evenly;
}

.player1Vsplayer2-content-middleAvailable {
  display: flex;
  font-size: xx-large;
  transform: rotate(330deg);
  margin-left: -10em;
  margin-right: -10em;
  padding: 1em;
  width: 5em;
  height: 3.5em;
  justify-content: center;
  border: rgb(133, 86, 4) solid;
  margin-top: 5em;
  align-items: center;
  text-align: center;
}

.player1Vsplayer2-rock-rightAvailable:hover,
.player1Vsplayer2-paper-rightAvailable:hover,
.player1Vsplayer2-scissors-rightAvailable:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.player1Vsplayer2-rock-leftAvailable:hover,
.player1Vsplayer2-paper-leftAvailable:hover,
.player1Vsplayer2-scissors-leftAvailable:hover {
  box-shadow: 0 0.1em 2em rgb(65, 79, 79);
  background-color: rgb(65, 79, 79, 0.2);
}

.player1Vsplayer2-rock-leftAvailable,
.player1Vsplayer2-rock-rightAvailable,
.player1Vsplayer2-paper-leftAvailable,
.player1Vsplayer2-paper-rightAvailable,
.player1Vsplayer2-scissors-leftAvailable,
.player1Vsplayer2-scissors-rightAvailable {
  width: 8em;
  height: 8em;
  margin: 0.5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 1em;
}
