.completeRoom-Container {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh auto;
}

.completeRoom-name {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.completeRoom-name-box {
  border: rgb(255, 252, 248) solid;
  border-radius: 10em;
  width: 12.5em;
  font-size: xx-large;
  text-align: center;
  padding: 0.25em;
}

.player1Vsplayer2-content-matchComplete {
  display: flex;
  justify-content: space-evenly;
}

.player1Vsplayer2-content-middleComplete {
  display: flex;
  font-size: xx-large;
  transform: rotate(330deg);
  margin-left: -10em;
  margin-right: -10em;
  padding: 1em;
  width: 5em;
  height: 3.5em;
  justify-content: center;
  border: rgb(133, 86, 4) solid;
  margin-top: 5em;
  align-items: center;
  text-align: center;
}

.player1Vsplayer2-rock-leftComplete,
.player1Vsplayer2-rock-rightComplete,
.player1Vsplayer2-paper-leftComplete,
.player1Vsplayer2-paper-rightComplete,
.player1Vsplayer2-scissors-leftComplete,
.player1Vsplayer2-scissors-rightComplete {
  width: 8em;
  height: 8em;
  margin: .5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  padding: 1em;
}
