.createdRoom-Container {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh auto;
}

.player1Vsplayer2-content-matchCreated {
  display: flex;
  justify-content: space-evenly;
}

.player1Vsplayer2-content-middleCreated {
  display: flex;
  font-size: xx-large;
  transform: rotate(330deg);
  margin-left: -10em;
  margin-right: -10em;
  padding: 1em;
  width: 5em;
  height: 3.5em;
  justify-content: center;
  border: rgb(133, 86, 4) solid;
  margin-top: 5em;
}

.player1Vsplayer2-rock-leftCreated,
.player1Vsplayer2-rock-rightCreated,
.player1Vsplayer2-paper-leftCreated,
.player1Vsplayer2-paper-rightCreated,
.player1Vsplayer2-scissors-leftCreated,
.player1Vsplayer2-scissors-rightCreated {
  width: 8em;
  height: 8em;
  margin: 0.5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: auto;
  padding: 1em;
}


