.player1Vsplayer2-content-tittle {
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    margin-top: 2em;
  }
  
  .player1Vsplayer2-left-title,
  .player1Vsplayer2-right-title,
  .player1Vsplayer2-middleSpace {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 0.2em;
    border: rgb(133, 86, 4) solid;
    border-radius: 2em;
    margin-bottom: 0.25em;
    width: 12em;
  }
  
  .player1Vsplayer2-middleSpace {
    margin-left: -12em;
    margin-right: -15em;
    border-style: none;
  }