.roomName {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  .roomName-box {
    display: flex;
    border: rgb(133, 86, 4) solid;
    border-radius: 10em;
    width: auto;
    height: 2em;
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0.25em 2em 0.25em 2em;
    color: aliceblue;
  }
  