.container-gameHistoryUser {
  margin-top: 2em;
  display: grid;
  gap: 0.5em;
}

.singleHistoryTable {
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3 {
  width: 20em;
  padding: 0.5em;
  text-align: center;
  background-color: aliceblue;
  margin-right: 0.5em;
  font-weight: bold;
}
