.dashboardContainer {
  background-color: darkgoldenrod;
  width: 100vw auto;
  height: 100vh auto;
}

.dash-containerBelow {
  display: flex;
  justify-content: center;
  margin-left: -2em;
}

.leftBelow {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-left: 2em;
  margin-bottom: 2em;
}

.playVSCom {
  display: flex;
  height: 10em;
  align-items: center;
}

.playVSComBox {
  display: flex;
  width: 12em;
  height: 3.5em;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 138, 138, 0.6);
  border-radius: 0.5em;
  font-weight: 800;
  cursor: pointer;
  font-size: x-large;
  color: black;
}

.playVSComBox:hover {
  transform: scale(1.05);
  background-color: rgb(0, 138, 138, 0.9);
}

hr {
  width: auto;
  border-width: 1em;
  margin-right: 0.5em;
}

.createNewRoom {
  display: flex;
  width: 10em;
  height: 2em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(0, 138, 138, 0.6);
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: x-large;
  font-weight: bolder;
}

.createNewRoom:hover {
  transform: scale(1.05);
  background-color: rgb(0, 138, 138, 0.9);
}

.createNewRoomText {
  color: black;
}

.rightBelow {
  display: flex;
  flex-direction: column;
  width: 27.5em;
  height: 35em auto;
  margin-top: 2em;
  align-items: center;
  background-color: azure;
  border-radius: 1em;
  margin-bottom: 2em;
}

.rightBelow:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.userPict {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0em 2em 0em;
}

.userPict-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  border: solid;
  cursor: pointer;
}

.userPict-name {
  font-size: larger;
  font-weight: bold;
}

.userBio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.userBio-raw {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0, 0.1);
  margin: 0.2em;
  border-radius: 1em;
  padding: 0.5em;
}

.userBio-raw-title {
  width: 7em;
}

.userBio-raw-colon {
  width: 2em;
  display: flex;
  justify-content: center;
}

.userBio-raw-value {
  width: 12.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}

.updateBio {
  margin-bottom: 2em;
}

.gameHistory {
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 1em;
  cursor: pointer;
  background-color: rgb(0, 138, 138, 0.6);
  color: black;
  margin-bottom: 1.5em;
}

.gameHistory:hover {
  transform: scale(1.05);
  background-color: gold;
  font-weight: 500;
}

.popup-profilPict-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2em;
  border: solid;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(151, 99, 108);
}

.close-popup {
  top: 10%;
  left: 95%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  background-color: gainsboro;
  padding: .25em;
  font-weight: bold;
}

.popup-header {
  margin-bottom: 1em;
  color: aliceblue;
  font-style: italic;
  font-weight: bold;
}

.hapus-profilPict {
  margin-bottom: 1em;
  color: aliceblue;
  border-radius: 1em;
  cursor: pointer;
  border-radius: 1em;
}

.hapus-profilPict:hover {
  transform: scale(1.05);
}