.gameHistory-Container {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh;
}

.gameHistory-container-below {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.gameHistory-content {
  margin-left: -27.5em;
}

.gameHistory-title {
  font-size: xx-large;
  font-weight: 500;
}

.tabel-gameHistory {
  margin-top: 3em;
}