.navbarGame,
.navbarHome {
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 67, 67, 0.3);
  width: auto;
}

.gameNavBar,
.homeNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 67, 67, 0.3);
}

.homeLeftBar,
.homeRightBar,
.homeMiddleBar, .gameLeftBar, .gameRightBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeLeftBar, .gameLeftBar{
  display: flex;
  margin-right: auto;
  margin-left: 7.5em;
}

.homeRightBar, .gameRightBar {
  display: flex;
  margin-left: auto;
  margin-right: 7.5em;
}

.homeMiddleBar {
  display: flex;
  position: fixed;  
  margin-left: 5em;
  margin-right: 5em;
}

.gameHomeBar,
.gameLogoutBar,
.gameDashboardBar,
.homeSignupBar,
.homeLoginBar,
.homeDashboardBar,
.workBar,
.contactBar,
.aboutMeBar {
  width: 8em;
  height: 2.5em;
  text-align: center;
  padding-top: 0.5em;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.gameDashboardBar {
  margin-left: 4em;
}

.gameHomeBar:hover,
.gameLogoutBar:hover,
.gameDashboardBar:hover,
.homeSignupBar:hover,
.homeLoginBar:hover,
.homeDashboardBar:hover,
.workBar:hover,
.contactBar:hover,
.aboutMeBar:hover {
  background-color: rgb(190, 154, 34);
  border-radius: 1.5em;
}


nav {
  background-color: rgba(10, 10, 10, 0.6);
  font-size: 12px;
  letter-spacing: 0.2rem;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}